.repo-detail{
    padding: 16px 8px;
    border-top: 1px solid #eaecef;
}

.repo-name{
    color: #0366D6;
    font-size: 20px;
    margin: 8px 0;
    font-weight: 500;
}

.repo-desc{
    color: #586069
}

.other-details{
    display: flex;
    margin-top: 16px;
}

.other-details-item{
    margin-right: 16px;
    font-size: 12px;
    line-height: 1.5;
    color: #586069;
    line-height: 1.5;
}

.repo-description{
    color: #586069;
    font-size: 14px;
    line-height: 1.5;
}