
.profile-container{
    margin: 16px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
  }

  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #111;
  }

  .fullname{
    font-size: 26px;
    line-height: 1.25;
    color: #24292e;
  }

  .login{
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: #586089;
  }

  .vcard-container{
      margin: 16px 0;
  }

  .edit-btn{
    color: #24292e;
    background-color: #fafbfc;
    border-color: rgb(27, 31, 35, 0.15);
    width: 184.67px;
    height: 32px;
    border-radius: 10px;
    margin: 16px 0;
    padding: 5px 16px;
  }

  .company{
      font-size: 14px;
      color: #24292e;
  }

  .avatar-img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
  }

  aside{
      max-width: 314px;
  }

  .info{
    margin: 10px;
  }